///
/// 텍스트가 길어질때, 박스 크기에 맞춰 텍스트틀 말줄임(...)으로 표시하는 믹스인
/// @group Helpers
/// @access public
/// @example scss - 사용법
///   .foo {
///     @include ellipsis();
///   }
/// @example css - CSS 아웃풋
///   .foo {
///     white-space: nowrap;
///     overflow: hidden;
///     text-overflow: ellipsis;
///   }
///

@mixin ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

///
/// 박스 포지션 지정 믹스인
/// @group Helpers
/// @access public
/// @param {string} $position [absolute] - 포지션 ( fixed, absolute, static, relative )
/// @param {string} $top [auto] - top 값
/// @param {string} $right [auto] - right 값
/// @param {string} $bottom [auto] - bottom 값
/// @param {string} $left [auto] - left 값
/// @example scss - 사용법
///   .foo {
///     @include position($bottom: 10px, $right: 20px);
///   }
///   .bar {
///     @include position($position: fixed, $top: 0px, $left: 0px)
///   }
/// @example css - CSS 아웃풋
///   .foo {
///     position: absolute;
///     bottom: 10px;
///     right: 20px;
///   }
///   .bar {
///     position: fixed;
///     top: 0px;
///     left: 0px;
///   }
///
@mixin position(
  $position: absolute,
  $top: auto,
  $right: auto,
  $bottom: auto,
  $left: auto
) {
  position: $position;
  top: $top;
  bottom: $bottom;
  left: $left;
  right: $right;
}

///
/// Flex 박스 정렬 믹스인
/// @group Helpers
/// @access public
/// @param {string} $direction [row] - 정렬 방향
/// @param {string} $align [center] - 세로 정렬
/// @param {string} $justify [flex-start] - 가로 정렬
/// @example scss - 사용법
///   .foo {
///     @include flex();
///   }
///   .bar {
///     @include flex($direction: column)
///   }
///   .zoo {
///     @include flex($align: center, $jusify: center)
///   }
/// @example css - CSS 아웃풋
///   .foo {
///     display: flex;
///     display-direction: row;
///     flex-wrap: wrap;
///     align-items: center;
///     justify-content: flex-start
///   }
///   .bar {
///     display: flex;
///     display-direction: column;
///     flex-wrap: wrap;
///     align-items: flex-start;
///     justify-content: center;
///   }
///   .zoo {
///     display: flex;
///     display-direction: row;
///     flex-wrap: wrap;
///     align-items: center;
///     justify-content: center;
///   }
///
@mixin flex($direction: row, $align: center, $justify: flex-start) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: $direction;
  @if ($direction == row) {
    align-items: $align;
    justify-content: $justify;
  }
  @if ($direction == column) {
    align-items: $justify;
    justify-content: $align;
  }
}

///
/// 폰트 사이즈 믹스인
/// @group Helpers
/// @access public
/// @param {number} $display - 폰트 크기( 1, 2, 3 )
/// @param {size} $letterSpacing [1em] - 폰트 자간
/// @param {Color} $color [#fff] - 폰트 색상
/// @param {string} $style [flex-start] - 폰트 스타일( normal, italic )
/// @param {size} $lineHeight [1em] - 행간 사이즈
/// @param {number} $fontWeight [700] - 폰트 굵기
///
@mixin titleFont(
  $display,
  $letterSpacing: 0,
  $color: #fff,
  $style: normal,
  $lineHeight: 1em,
  $fontWeight: 700
) {
  letter-spacing: $letterSpacing;
  color: $color;
  font-style: $style;
  line-height: $lineHeight;
  font-weight: $fontWeight;
  @if ($display == 1) {
    font-size: 30px;
  }
  @if ($display == 2) {
    font-size: 25px;
  }
  @if ($display == 3) {
    font-size: 20px;
  }
}

///
/// 텍스트 숨기는 믹스인
/// @group Helpers
/// @access public
///
@mixin textIndet() {
  text-indent: -9999px;
  overflow: hidden;
}

///
/// 볼더가 잇는 텍스트
/// @group Helpers
/// @access public
/// @param {padding} $padding [15px 30px] - 상하좌우 패딩 값
/// @example scss - 사용법
///   .foo {
///     @include borderLikeButton();
///   }
/// @example css - CSS 아웃풋
///   .foo {
///     border: 1px solid #fff;
///     border-radius: 2em;
///     padding: 15px 30px;
///     display: inline-block;
///   }
///
///
@mixin borderLikeButton($padding: 15px 30px) {
  border: 1px solid $color-white;
  border-radius: 2em;
  padding: $padding;
  display: inline-block;
}
