.addAudioFile {
  border-radius: 3px;
  overflow: hidden;
  background:#303136;
  display: flex !important;
  flex-wrap: wrap;

  .addAudioFile__icon {
    width: 75px;
    height: 75px;
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .addAudioFile__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 20px;

    p {
      color:#fff;
      font-size: 15px;
      @include ellipsis;
    }
    .format {
      font-size: 13px;
      color: rgba(255,255,255,.3);
      display: block;
      margin-top: 5px;
    }
    .addAudioFile__progress {
      display: block;
      margin-top: 15px;
      height: 3px;
      background:#4f5054;
      border-radius: 2em;

      span {
        display: block;
        width: 0px;
        background:#ffda2a;
        height: 3px;
      }
    }
  }
}