.albumItem {
  text-align: center;
  padding: 0 10px;
  .albumItem__cover {
    width: 190px;
    height: 190px;
    border-radius: 8px;
    overflow: hidden;
    background: #000000;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:after {
      content: '';
      width: 50px;
      height: 50px;
      background: url('/assets/images/icon/hover_play.png') no-repeat center;
      background-size: 50px 50px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      opacity: 0;
      transition: all 0.5s;
    }
    &:hover:after {
      opacity: 1;
    }
  }
  .albumItem__link {
    display: block;
    margin-top: 30px;
    text-align: center;
  }
  .albumItem__title {
    font-size: 1rem;
    color: $color-white;
    font-weight: 600;
    @include ellipsis;
  }
  .albumItem__singer {
    @include ellipsis;
    font-size: 12px;
    color: #a1a1a1;
    margin-top: 5px;
  }
}
