.card {
  &.card--testimonials {
    width: 410px;
    margin: 0 20px;
    border-radius: 5px;
    overflow: hidden;
    .img {
      max-height: 230px;
      position: relative;
      img {
        width: 100%;
        vertical-align: top;
      }
    }

    figcaption {
      text-align: center;
      padding: 20px;
      background: rgba(0, 0, 0, 0.4);
      h3 {
        font-weight: 600;
        font-size: 1rem;
        @include ellipsis;
        color: #fff;
      }
      p {
        margin-top: 5px;
        font-size: 14px;
        font-weight: 300;
        color: #fff;
      }
    }

    .card--testimonials_play {
      content: "";
      width: 50px;
      height: 50px;
      background: url("/assets/images/icon/hover_play.png") no-repeat center;
      background-size: 50px 50px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      opacity: 0;
      transition: all 0.5s;
    }
    &:hover {
      .card--testimonials_play {
        opacity: 1;
      }
    }
  }
}
