.commentsbox {
  margin-top: 30px;
  border-bottom: 1px solid #333333;


}
.subComment {
  padding-left: 100px;
  .comment {
    padding-left: 0;
  }

  .subComment__form {
    padding: 20px 0;
    border-top: 1px solid #333;
  }
}
.comment {
  padding: 30px;
  padding-right: 0;
  border-top: 1px solid #333;
  @include flex($align: flex-start);

  .comment__author-img {
    margin-right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
  }
  .comment__content {
    flex: 1;
  }

  .comment__info {
    @include flex($justify: space-between);
    .writer {
      @include flex();
    }
    span {
      opacity: .3;
      font-size: 14px;
    }
    a {
      @include textIndet;
      width: 10px;
      height: 11px;
      background: url('/assets/images/icon/declaration.png') no-repeat center;
      margin-left: 14px;
    }
  }
  .comment__description {
    margin-top: .5em;
    p {
      font-size: 16px;
      line-height:1.5em;
    }
    .comment__sub-count {
      display: block;
      opacity: .5;
      margin-top: 5px;
      background: url('/assets/images/icon/talk.png') no-repeat left 6px;
      background-size: auto 10px;
      line-height: 20px;
      font-size: 14px;
      padding-left: 15px;
    }
  }
}