.commentForm {
  background: #212029;
  padding: 10px;
  height: 60px;
  border-radius: 2em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;

  .comment__user {
    width: 40px;
    height: 40px;
    background: url("/assets/images/dummy/user.png") #6f6f85 no-repeat center;
    background-size: 40px 40px;
    border-radius: 50%;
    flex: none;
  }
  input {
    flex: 1;
    height: 40px;
    padding: 0 20px;
    color: #fff;
    &::placeholder {
      color: rgba(255, 255, 255, 0.3);
    }
  }
  span {
    color: #fff;
    opacity: 0.2;
    font-size: 14px;
    margin-right: 30px;
  }
  button {
    width: 110px;
    height: 40px;
    border-radius: 2em;
    background: #1c66ba;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
  }
}
