.playList {
    .playList__list {
    }

    .playList__itembox {
        margin-bottom: 1px;

        &.playing {
            .playList__item {
                background: #2b2c30;

                .btn-play {
                    background: url('/assets/images/icon/pause.png') no-repeat center;
                    background-size: auto 100%;
                    opacity: 1;
                }

                .option {
                    .detail {
                        background: none;
                    }
                }
            }
        }

        &.is-show-children {
            // 하단 서브 앨범 토글 됐을때,
            .playList__item--title {
                background: #2b2c30;
            }

            .subPlayList .playList__itembox .playList__item {
                background: #252629;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .playList__item {
        @include flex();
        position: relative;
        background: #1b1b1f;
        transition: all 0.3s;
        width: 100%;
        // padding: 0 10px;
        &:hover {
            background: #252629;
            box-shadow: 0 8px 48px rgba(0, 0, 0, 0.75);
            z-index: 10;
        }

        .col {
            flex: none;
            margin-top: 0 !important;
        }

        .favorite {
            width: 100px;
            text-align: center;

            button {
                width: 20px;
                height: 20px;
                cursor: pointer;
                @include textIndet;
                background: url('/assets/images/icon/favorite.png') no-repeat center;
            }
        }

        .favorite.active {
            button {
                background: url('/assets/images/icon/favorite-active.png') no-repeat center;
            }
        }

        .name {
            // padding: 0 20px;
            width: 435px;
            @include flex();

            figure {
                @include flex();
                margin-right: 1em;
                flex: 1;
                width: calc(100% - 160px);

                .playList__cover {
                    width: 55px;
                    height: 55px;
                    flex: none;
                    position: relative;
                    margin-right: 30px;
                    background: rgba(0, 0, 0, 0.6);
                    border-radius: 3px;

                    img {
                        border-radius: 3px;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    i {
                        @include position($top: -5px, $right: -5px);
                        z-index: 1;
                        font-weight: bolder;
                    }

                    &.profile {
                        img {
                            border-radius: 55px;
                        }
                    }
                }

                figcaption {
                    width: calc(100% - 85px);
                    flex: none;

                    .playList__title {
                        @include ellipsis;
                        font-size: 14px;
                        font-weight: 600;
                    }

                    .playList__by {
                        @include ellipsis;
                        font-size: 12px;
                        opacity: 0.3;
                        margin-top: 5px;
                        display: block;

                        &.date {
                            font-size: 10;
                            margin-top: 10px;
                        }
                    }
                }

                figcaption:only-child {
                    width: 100%;

                    h3 {
                        font-size: 16px;
                        font-weight: 300;
                    }
                }
            }

            .toggle-subList {
                width: 24px;
                height: 24px;
                border: 1px solid $color-white;
                background: url('/assets/images/icon/arrow-top.png') no-repeat center;
                opacity: 0.2;
                border-radius: 50%;
                transform: rotate(180deg);
                transition: all 0.3s;

                &.active {
                    transform: rotate(0);
                    opacity: 1;
                    border: 0;
                }
            }

            .tags {
                padding-right: 30px;
                width: 160px;
                flex: none;

                div {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                    &:first-child {
                        margin-bottom: 5px;
                    }
                }

                button {
                    height: 20px;
                    padding: 0 8px;
                    border: 1px solid #fff;
                    opacity: 0.3;
                    transition: all 0.3s;
                    font-size: 10px;
                    border-radius: 2em;

                    & + button {
                        margin-left: 5px;
                    }

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }

        .genre {
            @include flex();
            max-height: 50px;
            overflow: hidden;
            padding: 0 30px;
            width: 265px;
            flex: none;
            position: relative;

            &:after {
                content: '';
                width: 1px;
                height: 14px;
                background: $white-line;
                display: block;
                @include position($left: 0, $top: 50%);
                transform: translateY(-50%);
            }

            button {
                font-size: 12px;
                border: 1px solid $color-white;
                color: $color-white;
                padding: 0 8px;
                line-height: 20px;
                border-radius: 2em;
                margin: 2px;
                opacity: 0.3;

                &.active {
                    opacity: 1;
                }
            }
        }

        .playbtn {
            @include flex();
            padding: 0 30px;
            position: relative;

            &:after {
                content: '';
                width: 1px;
                height: 14px;
                background: $white-line;
                display: block;
                @include position($left: 0, $top: 50%);
                transform: translateY(-50%);
            }

            button {
                @include textIndet;
                transition: all 0.3s;
                background-image: url(/assets/images/icon/play.png);
                background-repeat: no-repeat;
                background-position: center;
                width: 35px;
                height: 35px;
                background-size: auto 100%;
                opacity: 0.3;
                transition: 0.3s ease;

                &:hover {
                    opacity: 1;
                }

                &.playing {
                    background-image: url(/assets/images/icon/pause.png);
                    opacity: 1;
                }

                &.paused {
                    background-image: url(/assets/images/icon/play.png);
                    opacity: 1;
                }
            }

            .timer {
                font-size: 12px;
                margin-left: 30px;
                color: #666666;
            }
        }

        .spectrum {
            width: 200px;
            flex: none;

            .wave {
                border-right: 0 !important;
                background: none !important;
            }
        }

        .utils {
            @include flex();
            padding: 0 20px;
            margin-left: 30px;
            position: relative;

            &:after {
                content: '';
                width: 1px;
                height: 14px;
                background: $white-line;
                display: block;
                @include position($left: 0, $top: 50%);
                transform: translateY(-50%);
            }

            a {
                @include textIndet;
                margin-right: 25px;
                opacity: 0.3;
                transition: 0.3s ease;

                &:last-child {
                    margin-right: 0;
                }

                &:hover {
                    opacity: 1;
                }

                &.cart {
                    width: 24px;
                    height: 21px;
                    background: url('/assets/images/icon/cart.png') no-repeat center;
                    position: relative;
                    overflow: initial;

                    .tooltip {
                        padding: 0 7px;
                        background: #289099;
                        color: $color-white;
                        bottom: 15px;

                        &:after {
                            content: '';
                            display: block;
                            @include position($bottom: -10px, $left: 50%);
                            transform: translateX(-50%);
                            width: 0;
                            height: 0;
                            border-top: 5px solid #289099;
                            border-bottom: 5px solid transparent;
                            border-left: 5px solid transparent;
                            border-right: 5px solid transparent;
                        }
                    }

                    &:hover .tooltip {
                        opacity: 1;
                        bottom: 30px;
                    }
                }

                &.download {
                    width: 23px;
                    height: 17px;
                    background: url('/assets/images/icon/download.png') no-repeat center;
                }

                &.shared {
                    width: 18px;
                    height: 18px;
                    background: url('/assets/images/icon/shared.png') no-repeat center;
                }
            }
        }

        .more_shared {
            text-align: center;
            padding: 0 30px 0 0;

            button {
                cursor: pointer;
                @include textIndet;
                width: 20px;
                height: 20px;
                background: url('/assets/images/icon/shared.png') no-repeat center;
                position: relative;
                overflow: initial;
                opacity: 0.3;
                transition: 0.3s ease;

                .tooltip {
                    bottom: 15px;
                    width: 130px;
                    background: #2b2c30;

                    a {
                        display: block;
                        height: 0;
                        line-height: 40px;
                        overflow: hidden;
                        color: #9ea1a8;
                        transition: all 0.5s;
                        border-bottom: 1px solid #1b1a1f;

                        &:last-child {
                            border-bottom: 0;
                        }

                        &:hover {
                            color: $color-white;
                            background: #1c1d22;
                        }
                    }

                    &:after {
                        content: '';
                        display: block;
                        @include position($bottom: -10px, $left: 50%);
                        transform: translateX(-50%);
                        width: 0;
                        height: 0;
                        border-top: 5px solid #2b2c30;
                        border-bottom: 5px solid transparent;
                        border-left: 5px solid transparent;
                        border-right: 5px solid transparent;
                    }
                }

                &:hover {
                    opacity: 1;
                }

                &:hover .tooltip {
                    opacity: 1;
                    bottom: 30px;

                    a {
                        height: 40px;
                    }
                }
            }
        }

        .more {
            text-align: center;
            padding: 0 30px;

            button {
                cursor: pointer;
                @include textIndet;
                width: 20px;
                height: 20px;
                background: url('/assets/images/icon/more.png') no-repeat center;
                position: relative;
                overflow: initial;
                opacity: 0.3;
                transition: 0.3s ease;

                .tooltip {
                    bottom: 15px;
                    width: 130px;
                    background: #2b2c30;

                    a {
                        display: block;
                        height: 0;
                        line-height: 40px;
                        overflow: hidden;
                        color: #9ea1a8;
                        transition: all 0.5s;
                        border-bottom: 1px solid #1b1a1f;

                        &:last-child {
                            border-bottom: 0;
                        }

                        &:hover {
                            color: $color-white;
                            background: #1c1d22;
                        }
                    }

                    &:after {
                        content: '';
                        display: block;
                        @include position($bottom: -10px, $left: 50%);
                        transform: translateX(-50%);
                        width: 0;
                        height: 0;
                        border-top: 5px solid #2b2c30;
                        border-bottom: 5px solid transparent;
                        border-left: 5px solid transparent;
                        border-right: 5px solid transparent;
                    }
                }

                &:hover {
                    opacity: 1;
                }

                &:hover .tooltip {
                    opacity: 1;
                    bottom: 30px;

                    a {
                        height: 40px;
                    }
                }
            }
        }

        .info {
        }

        .expire {
            text-align: right;
            font-size: 12px;
            color: rgb(255, 255, 255, 0.3);

            span {
                color: #ff4848;
            }
        }

        .action {
            width: 102px;
            color: white;
            opacity: 0.3;
            text-align: center;

            &.active {
                color: #ffda2a;
                opacity: 1;
            }
        }

        .buybtn {
            text-align: right;
            padding: 0 15px;
            position: relative;
            margin-right: 15px;

            &:after {
                content: '';
                width: 1px;
                height: 14px;
                background: $white-line;
                display: block;
                @include position($right: 0, $top: 50%);
                transform: translateY(-50%);
            }

            button {
                cursor: pointer;
                background: url(/assets/images/icon/cart.png) no-repeat 12px center;
                font-size: 15px;
                border: 1px solid #fff;
                color: #fff;
                padding: 10px 15px 5px 40px;
                line-height: 20px;
                border-radius: 2em;
                margin: 2px;
                opacity: 0.3;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    .playList__item {
        height: 90px;
    }

    .subPlayList {
        height: 0;
        overflow: hidden;
        transition: all 0.5s;

        .playList__itembox {
            margin: 0;
        }
    }

    .playList__btnbox {
        text-align: center;
        padding: 30px 0;
    }
}

.row.double {
    .playList__item > .col.name {
        width: 435px;
    }
}

.inquiryview {
    .question {
        padding: 30px;
        background: #2b2c30 !important;
        color: rgba(255, 255, 255, 0.7);

        .mark {
            margin-right: 30px;
            max-width: 96px;
            font-size: 60px;
            font-weight: 600;
        }

        .answer {
            line-height: 1.75em;

            span {
                color: white;
                font-weight: 600;
                text-decoration: underline;
            }
        }

        &.stay {
            background: #203040 !important;

            .mark {
                color: #4890ff;
            }
        }

        &.complete {
            background: #383020 !important;

            .mark {
                color: #ffda2a;
            }
        }
    }
}
