.container {
  &.sub {
    padding-top: 135px; // 55px;
  }
}

.page-wrapper, .mypage-wrapper {
  position: relative;
}

.smtm9-top {
  text-align:center;
  background-color: #000000;
  width: 100%;
}

.smtm9-top img {
  max-width: 100%;
}