.footer {
  padding: 40px 0;
  margin-top: 190px;
  .footer__top {
    height: 60px;
    @include flex($justify: space-between);
    border-bottom: 1px solid $white-line;
  }

  .footer__sns {
    @include flex();
    a {
      margin-left: 20px;
    }
  }
}

.footer__content {
  @include flex($justify: space-between, $align: flex-start);
  .footer__subscribe {
    padding: 30px 0;
    h3 {
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 20px;
    }
    p {
      font-size: 12px;
    }

    .subscribe-form {
      margin-top: 25px;
      width: 400px;
      height: 45px;
      @include flex();
      background: #1a1a1a;
      border-radius: 3px;
      input {
        padding: 0 20px;
        font-size: 12px;
        color: #fff;
        flex: 1;
        &::placeholder {
          color: rgba(255, 255, 255, 0.3);
        }
      }
      .submit {
        width: 100px;
        flex: none;
        color: #fff;
        height: 45px;
        background: #707070;
        border-radius: 3px;
        font-size: 12px;
      }
    }
  }
  .footer__subLink {
    padding: 15px 0;
    .row {
      @include flex();
      padding: 15px 0;
      h3 {
        width: 150px;
        a {
          font-size: 14px;
          font-weight: 600;
        }
      }
      ul {
        @include flex();
        li {
          min-width: 110px;
          padding-right: 20px;
        }
      }
      a {
        color: $color-white;
        font-size: 12px;
        white-space: nowrap;
      }
    }
  }
}
.footer__bottom {
  margin-top: 30px;
  .footer__appLink {
    @include flex($justify: center);
    a {
      margin: 0 7px;
    }
  }
  .footer__copyright {
    text-align: center;
    margin-top: 40px;
    color: $color-white;
    opacity: 0.3;
    font-size: 12px;
  }
}
