.header {
  @include position($position: fixed, $top: 0px, $left: 0px);
  width: 100%;
  border-bottom: 1px solid $white-line;
  transition: all 0.3s;
  z-index: 1000;
  &.scrolled {
    background: #000;
  }
  .wrap {
    width: 100%;
    max-width: 1420px;
    min-width: 880px;
    height: 55px;
    @include flex();
  }

  .header__gnb {
    margin-left: auto;
    @include flex();
  }

  .header__search {
    position: relative;
    input {
      width: 175px;
      height: 25px;
      color: #fff;
      background: $white-line;
      border-radius: 2em;
      font-size: 12px;
      padding: 0 35px 0 10px;
      transition: all 0.3s;
      &:focus {
        width: 190px;
      }
    }
    button {
      @include position($top: 0, $right: 5px);
      background: url("/assets/images/icon/search.png") no-repeat center center;
      width: 25px;
      height: 25px;
      cursor: pointer;
    }
  }
  .header__nav {
    @include flex();
    a {
      font-size: 13px;
      color: #fff;
      padding: 0 1em;
      border-left: 1px solid $white-line;

      &.header__cart {
        background: url("/assets/images/icon/cart.png") no-repeat 1em center;
        padding-left: 2.5em;
        background-size: auto 1em;
      }
      &:first-child {
        border-left: 0;
      }
    }
    .sale_signup:hover{
      border-bottom: 1px solid #bcbcbc !important;
    }
    button {
      cursor: pointer;
      transition: 0.3s ease;
      position: relative;
      .tooltip {
          position: absolute;
          width: 100px;
          background:#129292;   
          bottom: -36px !important;
          // border-style: solid;
          // border-color: #ffffff;
          // border-width: 1px;
          div{
              margin-bottom: 5px;
          }
          &:after {
              content: '';
              display: block;
              @include position($bottom: 24px, $left: 50%);
              transform: translateX(-50%);
              width: 0;
              height: 0;
              border-top: 5px solid transparent;
              border-bottom: 5px solid #129292;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
          }
      }

      &:hover {
          opacity: 1;
      }

      &:hover .tooltip {
          opacity: 1;
          bottom: 30px;

          a {
              height: 40px;
          }
      }
    }
  }

  .event-top {
    display: block;
    text-align:center;
    background-color: #000000;
    width: 100%;
    img {
      max-width: 100%;
    }
  }
}

.event-header {
  padding-bottom: 80px;
}