@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import 'main';

.n-flex {
  display: flex;
  width: 100%;
  &.between {
    justify-content: space-between;
  }
  &.h-center {
    align-items: center;
  }
  &.w-center {
    justify-content: center;
  }
  &.none {
    > * {
      flex: initial !important;
    }
  }
  &.column {
    flex-direction: column;
  }
}

.pagination {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  justify-content: center;
  align-items: center;
  button {
    padding: 0 16px;
    color: rgba(white, 0.7);
    font-size: 16px;
  }
  .active {
    color: #ffda2a;
  }
}

.pointer {
  cursor: pointer;
}

.row {
  &.fluid {
    margin-left: -16px;
    margin-right: -16px;
  }
}

/* mycancellist style */
.cancellist-wrap .sublist .row {
    margin-bottom: 0;
  }
  .cancellist-wrap .sublist .tab {
    align-items: center;
    background-color: #2b2c30;
    border-bottom: none;
    > div {
      flex: 1;
      text-align: center;
      font-size: 12px;
      line-height: 14px;
      color: rgb(white, 0.7);
      padding: 0 20px;
      &.active {
        color: #ffda2a;
      }
    }
  }
  .cancellist-wrap .playList .playList__item .index {
    color: rgba(white, 0.7);
  }
  .sublist .sort {
    > div {
      + div {
        margin-left: 10px;
      }
    }
  }

  .cancellist-wrap .playList .playList__item {
    .status {
      font-weight: 600;
    }
    .download {
      > div {
        font-size: 12px;
      }
    }
  }
  .cancellist-wrap .search.condition {
    width: 100%;
    .filter {
      display: flex;
    }
  }

  .answer p {
    margin-bottom: 10px;
  }