.accounts {
  &.accounts--result {
    background: url('/assets/images/accounts-result-bg.png') no-repeat center -50px;
    background-size: 100% auto;

    .accounts__result-title {
      font-size: 32px;
      text-align: center;
      font-weight: 600;
      margin-bottom: 200px;
    }
  }
  &.accounts--start {
  }
  padding-top: 140px;

  .accounts__defaultLayout {
    width: 460px;
    margin: 0 auto;
  }
  .accounts__title {
    margin-bottom: 50px;
    text-align: center;
    h1 {
      font-size: 45px;
      font-weight: 600;
      line-height: 55px;
    }
    p {
      font-size: 18px;
      margin-top: 20px;
    }
  }
  form,
  label {
    width: 100%;
  }

  .accounts__plan-case {
    width: 900px;
    margin: 0 auto;
    margin-top: 65px;
    th,
    td {
      border-right: 1px solid #1a1a1a;
      text-align: center;
      &:last-child {
        border-right: 0;
      }
    }
    td {
      border-bottom: 1px solid #1a1a1a;
      height: 60px;
      font-size: 14px;
      &:first-child {
        text-align: left;
        padding: 0 15px;
      }

      span {
        @include textIndet;
        width: 21px;
        height: 18px;
        display: inline-block;
        &.check {
          background: url('/assets/images/icon/accounts-check.png') no-repeat
            center;
        }
        &.un-check {
          background: url('/assets/images/icon/accounts-x.png') no-repeat center;
        }
      }
    }
    th {
      border-bottom: 2px solid #808080;
      padding: 20px;

      p {
        color: #fff;
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        span {
          font-weight: 300;
          font-size: 12px;
        }
      }
      h2 {
        margin: 15px 0;
        font-size: 30px;
        color: #ffda2a;
        font-weight: 600;
        line-height: 1em;
        span {
          font-size: 24px;
        }
        em {
          font-size: 12px;
          font-style: normal;
        }
      }
    }
    tr:last-child td {
      border-bottom: none;
    }
    tfoot td {
      padding: 20px 0;
      border-top: 1px solid #808080;
    }
  }
  .accounts__case {
    @include flex($justify: space-between);
    margin-bottom: 60px;

    .case {
      flex: 1;
      margin: 0 10px;
      width: 210px;
      cursor: pointer;

      &.case--listen {
        div {
          .icon {
            background: url('/assets/images/icon/account-listen.png') no-repeat
              center;
            background-size: auto 60px;
          }
        }
        input:checked + div {
          .icon {
            background: url('/assets/images/icon/account-listen-active.png')
              no-repeat center;
            background-size: auto 60px;
          }
        }
      }
      &.case--monetize {
        div {
          .icon {
            background: url('/assets/images/icon/account-monetize.png')
              no-repeat center;
            background-size: auto 60px;
          }
        }
        input:checked + div {
          .icon {
            background: url('/assets/images/icon/account-monetize-active.png')
              no-repeat center;
            background-size: auto 60px;
          }
        }
      }
    }

    div {
      height: 210px;
      width: 100%;
      border: 3px solid #2b2c30;
      border-radius: 15px;
      background: #1c1d23;
      @include flex($align: center, $justify: center);
      flex-direction: column;
      text-align: center;
      span {
        width: 100%;
        height: 60px;
        margin-bottom: 20px;
      }
      p {
        font-size: 16px;
        line-height: 18px;
        line-height: 24px;
        font-weight: 600;
        color: #9fa1a9;
      }
    }
    input:checked + div {
      border-color: #ffda2a;

      p {
        color: #fff;
      }
    }
  }
  .accounts__btnbox {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #3c3d3d;
    display: flex;
    flex-wrap: wrap;

    &.half {
      .btn {
        flex: 1;
        &:first-child {
          margin-right: 10px;
        }
      }
    }
    &.border-none {
      border: none;
      padding: 0;
    }

    p {
      margin-top: 1em;
      color: #fff;
      font-size: 14px;
      line-height: 1.5em;
      opacity: 0.3;
      a {
        color: #fff;
        text-decoration: underline;
      }
    }
  }

  .accounts__social {
    margin-top: 50px;
    padding-top: 50px;
    border-top: 1px solid #3c3d3d;
    position: relative;
    h2 {
      text-align: center;
      font-size: 18px;
      font-weight: 400;
      padding: 0 10px;
      background: #000;
      line-height: 20px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -10px;
      z-index: 2;
    }

    a {
      display: block;
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    img {
      vertical-align: top;
    }
  }

  .accounts__etc {
    text-align: center;
    color: #fff;
    margin-top: 60px;

    a {
      display: inline-block;
      color: #ffda2a;
      border-bottom: 1px solid #ffda2a;
      margin-left: 15px;
      font-weight: 600;
    }
  }

  .accounts__check {
    @include flex();
    .radio {
      width: 50%;
      flex: none;
      margin-top: 15px;
    }
  }

  .accounts__privacy {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #3c3d3d;
    padding-bottom: 20px;

    a {
      color: #279198;
      border-bottom: 1px solid #279198;
      display: inline-block;
      margin: 0 5px;
    }
  }

  .accounts__switch {
    padding: 5px;
    background: #232325;
    border-radius: 30px;
    position: relative;
    .accounts__switch-bg {
      position: absolute;
      display: block;
      width: 225px;
      height: 50px;
      line-height: 50px;
      background: #ffda2a;
      border-radius: 25px;
      left: 5px;
      top: 5px;
      z-index: 1;
      transition: all 0.5s;
      &.right {
        left: 230px;
      }
    }
    @include flex;
    label {
      position: relative;
      z-index: 2;
      flex: 1;
      height: 50px;
      width: 50%;
      text-align: center;
      cursor: pointer;
      position: relative;
      span {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        color: #7f7f7f;
        font-weight: 600;
        transition: all 0.5s;
        em {
          display: block;
          font-size: 14px;
          color: #7f7f7f;
          font-weight: 300;
          font-style: normal;
        }
      }
      input:checked + span {
        color: #000;
        em {
          color: #000;
        }
      }
    }
  }

  .accounts__plan-price {
    text-align: center;
    margin-top: 50px;
    h2 {
      span {
        font-size: 34px;
        font-weight: 600;
      }
      font-size: 45px;
      color: #fff;
      font-weight: 600;
    }

    ._saving {
      margin-top: 30px;
      display: inline-block;
      background: url('/assets/images/icon/saving-icon.png') #279198 no-repeat
        25px center;
      border-radius: 2em;
      font-size: 15px;
      color: #fff;
      padding: 0 30px;
      padding-left: 55px;
      line-height: 34px;
      border: 2px solid #2a7e83;
      span {
        border-bottom: 1px solid #fff;
      }
    }
  }

  .accounts__payments {
    margin-top: 60px;
    .checkbox {
      padding-bottom: 10px;
      margin-bottom: 25px;
      border-bottom: 1px solid #3c3d3d;
    }
  }
}

.accounts__form {
  .accounts__btn {
    width: 100%;
  }
  .row {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .form-title {
    color: #fff;
    font-size: 15px;
    margin-bottom: 5px;
    font-weight: 600;
    .required {
      color: #d54d4d;
      font-size: 18px;
    }
  }
  .input {
    width: 100%;
    &.flex {
      @include flex();
      button {
        width: 140px;
        margin-left: 10px;
      }
      input {
        flex: 1;
      }
    }
    input {
      display: block;
      width: 100%;
      height: 55px;
      border-radius: 3px;
      background: #fff;
      font-size: 14px;
      padding: 0 15px;

      &:disabled {
        background: #9fa2a5;
        color: #63676b;
      }
    }
  }
}
