.main {
  overflow: hidden;

  .main__section1 {
    background: url("/assets/images/main-section1-visual.png") no-repeat center top;
    background-size: 100% auto;
    min-height: 100vh;

    #videoBG {
      position:absolute;
      width:100%;
      top: 0;
      left: 0;
    }
  }
  .main__section1-title {
    padding: 180px 80px 0;
    margin-bottom: 110px;
    h1 {
      @include titleFont($display: 1, $fontWeight: 900);
    }
    p {
      font-size: 20px;
      line-height: 1.5em;
      opacity: 0.5;
      margin-top: 1em;
      font-weight: 300;
    }
  }

  .main__section2 {
    background: url("/assets/images/main-section2-visual.png") no-repeat center top;
    background-size: 100% auto;
    .main__section2-title {
      padding: 260px 0 330px;
      text-align: center;
      h1 {
        @include titleFont(
          $display: 1,
          $letterSpacing: -0.045em,
          $style: italic
        );
        margin-bottom: 50px;
      }
      a {
        @include borderLikeButton();
        color: #fff;
        font-size: 14px;
      }
    }
  }

  .switch {
    margin-right: 30px;
  }
  .filter {
    height: 100px;
    @include flex($justify: center);
    .custom-select {
      margin: 0 30px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .trending {
    .trending__slider {
      width: 1260px;
      margin: 0 auto;
      .slick-dots {
        @include flex($justify: center);
        margin-top: 60px;
        li {
          margin: 0 5px;
        }
        button {
          width: 12px;
          border-radius: 50%;
          height: 12px;
          background: rgba(255, 255, 255, 0.1);
          @include textIndet;
          transition: all 0.3s;
        }
        .slick-active button {
          background: #fff;
        }
      }
      .slick-arrow {
        @include textIndet;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        @include position($left: -15px, $top: 70px);
        background: url("/assets/images/icon/slide-arrow.png") no-repeat center;
        background-size: 50px 50px;
        z-index: 50;
        &.slick-next {
          left: auto;
          right: -15px;
          transform: rotate(180deg);
        }
      }
    }
    .trending__title {
      margin-bottom: 80px;
      text-align: center;
      @include titleFont(
        $display: 2,
        $letterSpacing: -0.02em,
        $style: italic,
        $fontWeight: 300
      );
    }
  }

  .alliance {
    background: rgba(0, 0, 0, 0.3);
    padding: 55px 0;
    margin: 50px 0 100px;
    text-align: center;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      left: 100%;
      top: 0;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.3);
    }
    &:before {
      content: "";
      position: absolute;
      right: 100%;
      top: 0;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.3);
    }
  }

  .testimonials {
    .testimonials__title {
      text-align: center;
      margin-bottom: 80px;
      h1 {
        @include titleFont(
          $display: 2,
          $letterSpacing: -0.02em,
          $style: italic
        );
        margin-bottom: 30px;
      }
      p {
        font-size: 20px;
        font-weight: 300;
        color: #fff;
      }
    }
    .testimonials__lists {
      @include flex($justify: center);
    }
    .testimonials__btnbox {
      @include flex($justify: center);
      margin-top: 60px;
      a {
        @include borderLikeButton($padding: 15px 40px);
        font-size: 1rem;
        color: #fff;
        margin: 0 5px;
        &.beats {
          border-color: #ffda2a;
          color: #ffda2a;
        }
      }
    }
  }

  .main__desc {
    text-align: center;
    margin-top: 300px;
    h1 {
      @include titleFont($display: 1, $style: italic, $letterSpacing: -0.045em);
    }
    a {
      @include borderLikeButton;
      color: #fff;
      margin-top: 60px;
    }
  }
}

/* Plus */

section[class*="section"]{
  position:relative;

  > .filter{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height: 720px;
        background-color: initial;
        background-image: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0.25) 75%);
        border: 0;

        &.reverse{
          background-image: linear-gradient(180deg, black 0%, rgba(0, 0, 0, 0.25) 75%);
        }
  }
}

.tab_container{
  position:relative;
  height:80vh;
  background: rgba(255,255,255,.1);
  margin-top:50px;
  padding:30px;

  > .tab_content{
    position:absolute;
    height: calc(100% - 60px);
    overflow-y:scroll;
    line-height:2em;
    opacity:0;
    transition:.3s ease;

    &.active{
      opacity:1;
    }
  }
}