.sublist {
  padding-top: 30px;
  .wrap {
    @include flex($align: flex-start);
  }

  .row {
    margin-bottom: 100px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .sublist__filter {
    width: 250px;
    margin-right: 60px;
    flex: none;

    .row {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .sublist__content {
    flex: 1;

    .topFive {
      @include flex($justify: space-between);
      .albumItem {
        padding: 0;
      }
    }
  }

  .col {
    &.name {
      width: 395px;
      figure {
        margin: 0;
      }
    }
    &.genre {
      width: 300px;
    }
    &.utils {
      margin: 0;
    }
    &.spectrum {
      width: 0;
      flex: none;
    }
    &.playbtn {
      flex: 1;
    }
  }

  .sort {
    @include flex();
    height: 40px;
    span {
      font-size: 14px;
      color: #a1a1a1;
      opacity: 0.5;
      margin-right: 10px;
    }
    @include position($right: 0, $top: 0);
    .custom-select {
      width: 160px;
      .selected-option {
        height: 40px;
        border: 1px solid #414143;
        width: 100%;
        text-align: left;
      }
      .option {
        width: 100%;
        text-align: left;
      }
      &.active .selected-option {
        border: none;
      }
    }
  }
}
