.accounts {
  background:black;
  &.accounts--result {
    background: url("/assets_m/images/accounts-result-bg.png") no-repeat center -50px;
    background-size: 100% auto;

    .accounts__result-title {
      font-size: 18px;
      line-height: 24px;
      text-align: center;
      font-weight: 600;
      margin-bottom: 60px;
    }
  }
  &.accounts--start {
    background: url("/assets_m/images/signup01-nbg.png") no-repeat center -50px;
    background-size: 100% auto;
  }
  padding-top: 90px;

  .accounts__defaultLayout {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 500px;
  }
  .accounts__title {
    margin-bottom: 35px;
    text-align: center;
    padding: 0 20px;
    h1 {
      font-size: 30px;
      font-weight: 600;
      line-height: 40px;
    }
    p {
      font-size: 14px;
      margin-top: 20px;
      line-height: 1.5em;
    }
  }
  form,
  label {
    width: 100%;
  }

  .accounts__tab {
    margin-top: 25px;
    text-align: center;
  }

  .accounts__plan-case {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 0 20px;
    table {
      border-top: 2px solid #808080;
    }
    th,
    td {
      border-right: 1px solid #1a1a1a;
      text-align: center;
      font-size: 12px;
      &:last-child {
        border-right: 0;
      }
    }
    td {
      border-bottom: 1px solid #1a1a1a;
      height: 40px;
      font-size: 12px;
      &:first-child {
        text-align: left;
        padding: 0 15px;
      }

      span {
        @include textIndet;
        width: 21px;
        height: 18px;
        display: inline-block;
        &.check {
          background: url("/assets_m/images/icon/accounts-check.png") no-repeat center;
        }
        &.un-check {
          background: url("/assets_m/images/icon/accounts-x.png") no-repeat center;
        }
      }
    }

    .accounts__plan-header {
      border-bottom: 2px solid #808080;
      @include flex($justify: space-between, $align: flex-start);
      padding-bottom: 20px;
      p {
        color: #fff;
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        span {
          font-weight: 300;
          font-size: 12px;
        }
      }
      h2 {
        margin-top: 10px;
        font-size: 22px;
        color: #ffda2a;
        font-weight: 600;
        line-height: 1em;
        span {
          font-size: 18px;
        }
        em {
          font-size: 12px;
          font-style: normal;
        }
      }
    }
    tr:last-child td {
      border-bottom: none;
    }
    tfoot td {
      padding: 20px 0 !important;
      border-top: 1px solid #1a1a1a;

      a {
        width: 100%;
        text-align: center;
      }
    }
  }
  .accounts__case {
    @include flex($justify: space-between);
    max-width: 360px;
    margin: 0 auto;
    margin-bottom: 30px;

    .case {
      flex: 1;
      &:first-child {
        margin-right: 10px;
      }

      &.case--listen {
        div {
          .icon {
            background: url("/assets_m/images/icon/account-listen.png") no-repeat
              center;
            background-size: auto 50px;
          }
        }
        input:checked + div {
          .icon {
            background: url("/assets_m/images/icon/account-listen-active.png")
              no-repeat center;
            background-size: auto 50px;
          }
        }
      }
      &.case--monetize {
        div {
          .icon {
            background: url("/assets_m/images/icon/account-monetize.png") no-repeat
              center;
            background-size: auto 50px;
          }
        }
        input:checked + div {
          .icon {
            background: url("/assets_m/images/icon/account-monetize-active.png")
              no-repeat center;
            background-size: auto 50px;
          }
        }
      }
    }

    div {
      padding: 20px 0;
      width: 100%;
      border: 3px solid #2b2c30;
      border-radius: 15px;
      background: #1c1d23;
      @include flex($align: center, $justify: center);
      flex-direction: column;
      text-align: center;
      span {
        width: 100%;
        height: 50px;
        margin-bottom: 10px;
      }
      p {
        font-size: 14px;
        line-height: 18px;
        line-height: 20px;
        font-weight: 600;
        color: #9fa1a9;
      }
    }
    input:checked + div {
      border-color: #ffda2a;

      p {
        color: #fff;
      }
    }
  }
  .accounts__btnbox {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #3c3d3d;
    display: flex;
    flex-wrap: wrap;

    &.half {
      .btn {
        flex: 1;
        &:first-child {
          margin-right: 10px;
        }
      }
    }
    &.border-none {
      border: none;
      padding: 0;
    }

    p {
      margin-top: 1em;
      color: #fff;
      font-size: 14px;
      line-height: 1.5em;
      opacity: 0.3;
      a {
        color: #fff;
        text-decoration: underline;
      }
    }
  }

  .accounts__social {
    margin-top: 50px;
    padding-top: 50px;
    border-top: 1px solid #3c3d3d;
    position: relative;
    h2 {
      text-align: center;
      font-size: 18px;
      font-weight: 400;
      padding: 0 10px;
      background: black;
      line-height: 20px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -10px;
      z-index: 2;
    }

    a {
      display: block;
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    img {
      vertical-align: top;
    }
  }

  .accounts__etc {
    text-align: center;
    color: #fff;
    margin-top: 60px;

    a {
      display: inline-block;
      color: #ffda2a;
      border-bottom: 1px solid #ffda2a;
      margin-left: 15px;
      font-weight: 600;
    }
  }

  .accounts__check {
    @include flex();
    .radio {
      width: 50%;
      flex: none;
      margin-top: 15px;
    }
  }

  .accounts__privacy {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #3c3d3d;
    padding-bottom: 20px;
    padding-left: 25px;
    position: relative;
    p {
      line-height: 20px;
    }
    span {
      position: absolute;
      left: 0;
      top: 32px;
    }
    a {
      color: #279198;
      border-bottom: 1px solid #279198;
      display: inline-block;
      margin: 0 5px;
    }
  }

  .accounts__switch {
    padding: 5px;
    background: #232325;
    border-radius: 30px;
    position: relative;
    max-width: 360px;
    margin: 0 auto;
    .accounts__switch-bg {
      position: absolute;
      display: block;
      width: calc(50% - 20px);
      height: 45px;
      line-height: 45px;
      background: #ffda2a;
      border-radius: 25px;
      left: 5px;
      top: 5px;
      z-index: 1;
      transition: all 0.5s;
      &.right {
        left: 180px;
      }
    }
    @include flex;
    label {
      position: relative;
      z-index: 2;
      flex: 1;
      height: 45px;
      width: 50%;
      text-align: center;
      cursor: pointer;
      position: relative;
      span {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        color: #7f7f7f;
        font-weight: 600;
        transition: all 0.5s;
        font-size: 14px;
        em {
          display: block;
          font-size: 14px;
          color: #7f7f7f;
          font-weight: 300;
          font-style: normal;
        }
      }
      input:checked + span {
        color: #000;
        em {
          color: #000;
        }
      }
    }
  }

  .accounts__plan-price {
    text-align: center;
    margin-top: 30px;
    h2 {
      span {
        font-size: 34px;
        font-weight: 600;
      }
      font-size: 45px;
      color: #fff;
      font-weight: 600;
    }

    ._saving {
      margin-top: 30px;
      display: inline-block;
      background: url("/assets_m/images/icon/saving-icon.png") #279198 no-repeat 25px
        center;
      border-radius: 2em;
      font-size: 15px;
      color: #fff;
      padding: 0 30px;
      padding-left: 55px;
      line-height: 34px;
      border: 2px solid #2a7e83;
      span {
        border-bottom: 1px solid #fff;
      }
    }
  }

  .accounts__payments {
    margin-top: 60px;
    .checkbox {
      padding-bottom: 10px;
      margin-bottom: 25px;
      border-bottom: 1px solid #3c3d3d;
    }
  }
}

.accounts__form {
  .accounts__btn {
    width: 100%;
  }
  .row {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .form-title {
    color: #fff;
    font-size: 15px;
    margin-bottom: 8px;
    font-weight: 600;
    .required {
      color: #d54d4d;
      font-size: 18px;
    }
    a {
      float: right;
      color: #fff;
      opacity: 0.3;
      font-size: 14px;
      font-weight: 300;
      position: relative;
      top: -3px;
    }
  }
  .input {
    width: 100%;
    &.flex {
      @include flex();
      button {
        width: 140px;
        margin-left: 10px;
      }
      input {
        flex: 1;
      }
    }
    input {
      display: block;
      width: 100%;
      height: 45px;
      border-radius: 3px;
      background: #fff;
      font-size: 14px;
      padding: 0 15px;

      &:disabled {
        background: #9fa2a5;
        color: #63676b;
      }
    }
  }
}
