.dashboard-wrap {
  .main__section1 {
    background: black;

    #videoBG {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
    }

    .BG {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 300px;
      overflow: hidden;
      opacity: 0.75;
    }
    .filter {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 300px;
      background-color: initial;
      background-image: linear-gradient(
        0deg,
        black 0%,
        rgba(0, 0, 0, 0.25) 75%
      );
      border: 0;

      &.reverse {
        background-image: linear-gradient(
          180deg,
          black 0%,
          rgba(0, 0, 0, 0.25) 75%
        );
      }
    }
  }

  .title-content {
    margin-top: 30px;
    h4.title {
      font-size: 14px;
      line-height: 16px;
      justify-content: space-between;
      .more {
        width: auto;
        color: rgba(white,.7);
        font-size: 12px;
        line-height: 16px;
        display: inherit;
        img {
          margin-left: 6px;
        }
      }
    }
  }

  .splitboard {
    > div {
      padding: 15px 0;
      font-size: 30px;
      > .change {
        font-size: 16px;
      }
      span {
        line-height: 16px;
        opacity: 1;
        position: relative;
      }
      .button {
        margin-left: 4px;
        width: 12px;
        height: 12px;
        line-height: 12px;
        &.active {
          .tooltip {
            display: block;
          }
        }
      }
      .tooltip {
        position: absolute;
        top: 0;
        width: 210px;
        opacity: 1;
        z-index: 99;
        background-color: #2b2c30;
        color: rgba(white, 0.3);
        font-size: 10px;
        line-height: 1.2;
        padding: 7px 8px;
        border-radius: 8px;
        margin-top: 30px;
        display: block;
        p {
          line-height: 1.2;
        }
        &::before {
          content: '';
          top: -12px;
          left: 50%;
          margin-left: -12px;
          position: absolute;
          width: 0;
          height: 0;
          border-left: 12px solid transparent;
          border-right: 12px solid transparent;
          border-bottom: 12px solid #2b2c30;
          // border-bottom: 12px solid red;
        }
      }
    }
    > div ~ div {
      border-top: none !important;
    }
  }
  .albumItem .albumItem__link {
    text-align: left;
  }
  header.main__section1-title {
    padding-top: 30px;
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 10px;
    .banner {
      text-align: center;
      > * {
        margin-bottom: 10px;
        text-align: center;
      }
      h3 {
        font-size: 16px;
        span {
          color: #ffda2a;
          text-decoration: underline;
        }
      }
      p {
        font-size: 12px;
        color: rgba(white, 0.7);
      }
      .btn {
        font-size: 16px;
      }
    }
  }
.playList .playList__item .name figure .playList__cover {
  padding: 0;
  // border-radius: 32px;
}
.playList .playList__item .name figure .playList__cover img {
  border-radius: 32px;
}
  .playList {
    .playList__item {
    margin-right: -16px;
    margin-left: -16px;
    padding: 16px;
    width: 100vw;
    box-sizing: border-box;
    .playList__cover {
      margin-right: 16px;
      margin-bottom: 0;
      img {
        width: 32px;
        height: 32px;
      }
    }
    .action {
      color: rgba(white,.3);
      &.active {
        color: #FFDA2A;
      }
    }
  }
  }
}
