.header {
  @include position($position: fixed, $top: 0px, $left: 0px);
  width: 100%;
  border-bottom: 1px solid $white-line;
  transition: all 0.3s;
  z-index: 1000;
  &.scrolled {
    background: #000;
  }
  .wrap {
    height: 40px;
    @include flex();
    padding-right: 10px;
  }

  .header__logo {
    img {
      height: 12px;
    }
  }
  .header__btnbox {
    margin-left: auto;
    @include flex();
  }

  .header__search {
    width: 40px;
    height: 40px;
    background: url("/assets_m/images/icon/search.png") no-repeat center;
  }
  .header__nav {
    width: 40px;
    height: 40px;
    background: url("/assets_m/images/icon/menu.png") no-repeat center;
    background-size: 18px auto;
  }
}
