.albumItem {
  text-align: center;
  .albumItem__cover {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    overflow: hidden;
    background: #000000;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .albumItem__link {
    display: block;
    margin-top: 10px;
    text-align: center;
  }
  .albumItem__title {
    font-size: 12px;
    color: $color-white;
    font-weight: 600;
    @include ellipsis;
  }
  .albumItem__singer {
    @include ellipsis;
    font-size: 10px;
    color: #a1a1a1;
    margin-top: 5px;
  }
}
