.playList__more {
  font-size: 12px;
  color: $color-white;
  @include borderLikeButton($padding: 10px 25px);
}

.btn {
  width: 100%;
  height: 45px;
  font-size: 16px;
  border-radius: 3px;
  font-weight: 600;
  &.btn--submit {
    background: #ffda2a;
    color: #000;
  }

  &.btn--white {
    color: #000;
    background: #fff;
    img {
      vertical-align: middle;
    }
  }
  &.btn--gray {
    background: #868686;
    color: #fff;
  }

  &.btn--start {
    text-align: center;
    width: auto;
    background: #1c66ba;
    height: 35px;
    line-height: 35px;
    color: #fff;
    width: 100px;
    display: inline-block;
    font-size: 12px;
  }

  &.btn--yellow{
    background: #ffda2a;
    color: #000;
  }

  &.round{
    font-size:14px;
    width: max-content;
    font-weight:600;
    padding:16px 64px;
    border-radius:100px;
    opacity: 1;
  }

  &.btn--glass{
    font-size:14px;
    font-weight:300;
    height:auto;
    color:white;
    opacity:.3;

    &:hover{
      opacity:1;
    }
  }

  &.btn--blue{
    background:#4890FF;
    color:white;
    opacity:1;

    &:hover{
    }
  }

  &.btn--red{
    background:#FF4848;
    color:white;
    opacity:1;

    &:hover{
    }
  }
  
}
