.card {
  &.card--testimonials {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    height: 90px;
    position: relative;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
    .img {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        vertical-align: top;
      }
    }
    .play {
      @include textIndet;
      position: absolute;
      right: 25px;
      top: 50%;
      transform: translateY(-50%);
      transition: all 0.3s;
      background: url("/assets_m/images/icon/play.png") no-repeat center;
      width: 25px;
      height: 25px;
      background-size: auto 100%;
      flex: none;
    }

    figcaption {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      text-align: center;
      padding-left: 25px;
      @include flex();
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      h3 {
        font-weight: 600;
        font-size: 14px;
        @include ellipsis;
        color: #fff;
      }
      p {
        margin-top: 5px;
        font-size: 12px;
        font-weight: 300;
        color: #fff;
      }
    }
  }
}
