.commentForm {
  background: #212029;
  padding: 5px;
  height: 40px;
  border-radius: 2em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;

  .comment__user {
    width: 30px;
    height: 30px;
    background: url("/assets_m/images/dummy/user.png") #6f6f85 no-repeat center;
    background-size: 100%;
    border-radius: 50%;
    flex: none;
  }
  input {
    flex: 1;
    height: 30px;
    max-width: calc(100% - 145px);
    padding: 0 10px;
    color: #fff;
    font-size: 12px;
    &::placeholder {
      color: rgba(255, 255, 255, 0.3);
    }
  }
  span {
    color: #fff;
    opacity: 0.2;
    font-size: 14px;
    margin-right: 10px;
  }
  button {
    width: 60px;
    height: 30px;
    border-radius: 2em;
    background: #1c66ba;
    color: #fff;
    font-size: 10px;
    font-weight: 600;
  }
}
