.custom-select {
  position: relative;
  min-width: 80px;
  &.active {
    background: #2b2c30;
    .options {
      background: #2b2c30;
    }
  }
  .selected-option {
    height: 30px;
    background: url("/assets_m/images/icon/select-arrow.png") no-repeat
      calc(100% - 10px) center;
    color: #fff;
    padding: 0 30px 0 10px;
    font-size: 14px;
  }

  .options {
    @include position($left: 0, $top: 30px);
    z-index: 10;
    width: 100%;
    display: none;

    .option {
      display: block;
      white-space: nowrap;
      color: #9ea1a8;
      padding: 0 10px;
      font-size: 14px;
      height: 30px;
      &:hover {
        color: #fff;
      }
    }
  }
}

.switch {
  font-size: 14px;
  cursor: pointer;
  @include flex();
  span {
    margin-left: 10px;
    width: 35px;
    height: 14px;
    background: #615f63;
    border-radius: 2em;
    position: relative;
    &:after {
      transition: all 0.5s;
      content: "";
      width: 20px;
      height: 20px;
      background: #fff;
      display: block;
      position: absolute;
      left: -5px;
      top: -3px;
      border-radius: 50%;
    }
  }
  input:checked + span {
    &:after {
      right: auto;
      left: calc(100% - 15px);
    }
  }
}

.checkbox {
  @include flex();
  font-size: 14px;
  letter-spacing: 0.01em;
  cursor: pointer;
  input {
    &:checked + span {
      border: none;
      background: url("/assets_m/images/icon/checkbox-on.png") no-repeat center;
      background-size: 15px 15px;
    }
  }
  span {
    width: 15px;
    height: 15px;
    border: 1px solid #40424f;
    background: #33353f;
    margin-right: 15px;
  }
}
