.sublist__filter {
  display: none;
  width: 100%;
  max-height: calc(100% - 80px);
  height: 100%;
  margin-right: 60px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  background: #1c1d23;
  border-bottom: 3px solid #ffda2a;
  &.js-active {
    display: block;
  }
  .sublist__filter-content {
    overflow: auto;
    height: 100%;
    width: 100%;
    padding: 20px;
  }
  &:after {
    content:'';
    width: 0;
    height: 0;
    border-top: 8px solid #ffda2a;
    border-bottom: 8px solid transparent;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    position: absolute;
    bottom: -19px;
    right: 32px;
  }
  .row {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.filter {
  .filter__list {
    @include flex();
    padding-top: 20px;
  }
  .checkbox {
    margin: 0;
    line-height: 25px;
    padding:0 1em;
    position: relative;
    font-size: 12px;
    span {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: none;
      border-radius: 2em;
    }
    input:checked + span {
      background: none;
      border: 1px solid #ffda2a;
    }
  }
  .filter__title {
    line-height: 40px;
    padding: 0 0px;
    font-size: 1rem;
    letter-spacing: 0.01em;
    font-weight: 600;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid #2b2c30;

    &:after {
      content: "";
      width: 9px;
      height: 5px;
      background: url("/assets_m/images/icon/arrow-top.png") no-repeat center;
      display: block;
      @include position($top: calc(50% - 3px), $right: 20px);
      transition: all 0.3s;
    }
    &.folded:after {
      transform: rotate(180deg);
    }
  }
  .filter__content {
  }
  .filter__item {
    margin-right: 10px;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
